.nav-body {
  background-color: #1e1e24;
  color: #fff8f0;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  border: 1px black solid;
}

.logo {
  width: 20vw;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.services {
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
}

.services a {
  padding: 5px;
  cursor: pointer;
  margin-right: 2rem;
  font-size: 1.2rem;
  transition: 250ms;
}

a:hover {
  color: #cf0f01;
}
