.button {
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  background-color: #cf0f0191;
  color: white;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  transition: 250ms;
}

.button:hover,
.button:active {
  background-color: #ffe8de61;
}

.icon {
  width: 2rem;
}

.badge {
  background-color: #000000;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 0.5rem;
  font-weight: bold;
  transition: 250ms;
}

.button:hover .badge,
.button:active .badge {
  background-color: #830900f6;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
